$pad: 0 0 5px 8px;
p {
  margin: 0 0 0 12px;
  padding: 0;
  line-height: 1.2;

}

.card {
  max-width: 300px;
  width: 100%;

  &__fio {
    padding: 5px;
    text-align: center;
    font-size: 2rem;
    line-height: 1.4;
  }

  &__hr {
    margin: 0 0 5px 0;
    background-color: rgba(0, 255, 0, 0.5)
  }
  &__wrap-phone{
    width: 100%;
    padding: $pad;
    border-left: 1px solid green;
    line-height: 1.2;
  }
  &__phone {
    text-decoration: none;
    color: inherit;
  }
  &__home-address, &__zip {
    padding: $pad;
    border-left: 1px solid green;
  }

}
