.card__fio{
  text-align: center;
}

.sub-title {
  margin-bottom: 10px;

}

.address{
  font-size: 1.2rem;
}

.mat-list-item.mat-focus-indicator.mat-2-line.mat-list-item-avatar.mat-list-item-with-avatar.ng-star-inserted{
  height: 40px;
}
