<!--TODO add data in db-->
<form class="create" (ngSubmit)="save()" [formGroup]="form">
  <div class="wrap">
    <button mat-icon-button style="color: green;" type="submit" matTooltip="Сохранить питомца">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="chancelCreatePet()" type="button"
            matTooltip="Отменить создание питомца">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
  <mat-form-field>
    <mat-label>Кличка питомца</mat-label>
    <input formControlName="name" type="text" matInput>
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <input formControlName="kindOfAnimal" [matAutocomplete]="kindOfAnimal"
           matInput placeholder="Вид" type="text">
    <mat-autocomplete #kindOfAnimal="matAutocomplete">
      <mat-option *ngFor="let kind of filteredKindOfAnimal | async" [value]="kind">{{kind}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <input [matAutocomplete]="gender" matInput placeholder="Пол" type="text" formControlName="gender">
    <mat-autocomplete #gender="matAutocomplete">
      <mat-option *ngFor="let gender of filterGender | async" [value]="gender">{{gender}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Порода</mat-label>
    <input type="text" matInput formControlName="breed">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Окрас</mat-label>
    <input type="text" matInput formControlName="color">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Вес</mat-label>
    <input type="text" matInput formControlName="weightAnimal">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Дата рождения</mat-label>
    <input type="text" matInput formControlName="age">
  </mat-form-field>
  <mat-form-field>
    <mat-label>№ чипа</mat-label>
    <input type="text" matInput formControlName="chipNumber">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Примечание</mat-label>
    <textarea type="text" matInput formControlName="description"></textarea>
  </mat-form-field>
</form>
