<section class="pets" *ngIf="pets?.length; else noPets">
  <mat-card class="pets__card" *ngFor="let pet of this.pets" (click)="openCard(this.pet._id)">
    <mat-card-title>{{pet.name}}</mat-card-title>

    <mat-card-content>
      <p>дата рождения: {{pet.age}} возраст: {{this.howManyYearsLive(pet.age)}} год/лет</p>
    </mat-card-content>
    <pre>{{this.pets | json}}</pre>
  </mat-card>
</section>
<ng-template #noPets>
  <section class="pets">Не зарегистрированно ниодного животного!</section>
</ng-template>
