.pets {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    width: 100%;
    min-width: 300px;
    cursor: pointer;
    margin: 5px;
  }
}

.mat-list-item.mat-focus-indicator {
  height: 30px;
}

.mat-card-title{
  text-align: center;
}
