<mat-form-field>
  <input (keyup)="applyFilter($event.target)" matInput placeholder="filter" type="text">
</mat-form-field>
<button (click)="addClient()" mat-icon-button matTooltip="добавить клиента">
  <mat-icon>add</mat-icon>
</button>

<div class="mat-elevation-z8 wrap">
  <mat-table [dataSource]="dataSource" [hidden]="loading" matSort>

    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ФИО</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.surname}} {{element.name}} {{element.patronymic}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header> Адрес</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.typeCity | abbrCityAndStreet}}
        {{element.cityName}}
        {{element.typeStreet | abbrCityAndStreet}}
        {{element.streetName}}
        {{element.numberHouse}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row (click)="openPersonalCard(row._id)" *matRowDef="let row; columns: displayedColumns" class="hover"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
</div>
