<mat-form-field>
  <input (keyup)="applyFilter($event.target)" matInput placeholder="filter" type="text">
</mat-form-field>
<button (click)="addClient()" mat-icon-button matTooltip="добавить клиента">
  <mat-icon>add</mat-icon>
</button>

<div class="mat-elevation-z8 wrap">
  <table [dataSource]="dataSource" [hidden]="loading" mat-table matSort>

    <ng-container matColumnDef="surname">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> ФИО</th>
      <td *matCellDef="let element" mat-cell> {{element.surname}} {{element.name}} {{element.patronymic}}</td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Адрес</th>
      <td *matCellDef="let element"
          mat-cell>
        {{element.typeCity | abbrCityAndStreet}}
        {{element.cityName}}
        {{element.typeStreet | abbrCityAndStreet}}
        {{element.streetName}}
        {{element.numberHouse}}
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr (click)="openPersonalCard(row._id)" *matRowDef="let row; columns: displayedColumns" class="hover" mat-row></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
</div>
