<form (ngSubmit)="sendMail()" [formGroup]="form" >
  <h1 mat-dialog-title>Написать письмо {{client.surname}} {{client.name}} {{client.patronymic}}!</h1>
  <mat-form-field style="width:100%">
    <mat-label>Тема письма</mat-label>
    <input type="text" matInput formControlName="title">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" class="client__textarea" style="width:100%">
    <mat-label>Содержание</mat-label>
    <textarea matInput placeholder="Дополнительная информация" formControlName="bodyMail"></textarea>
  </mat-form-field>
  <br>
  <button type="submit" mat-raised-button color="primary" mat-dialog-close="true" style="margin-right: 10px;">Отправить письмо</button>
  <button type="submit" mat-raised-button color="primary" mat-dialog-close="false">Отмена</button>
</form>
