<button mat-button [matMenuTriggerFor]="administration">
  Администрирование
</button>

<mat-menu #administration="matMenu">
  <button mat-menu-item  disabled matTooltip="В разработке">Сменить место</button>
  <button mat-menu-item  disabled matTooltip="В разработке">Сменить клинику</button>
  <button mat-menu-item  disabled matTooltip="В разработке">Сменить пользователя</button>
  <button mat-menu-item  disabled matTooltip="В разработке">Выйти</button>
  <button mat-menu-item  disabled matTooltip="В разработке">Настройка</button>
  <button mat-menu-item  disabled matTooltip="В разработке">О программе</button>
  <button mat-menu-item  disabled matTooltip="В разработке">Чат</button>
  <button mat-menu-item  disabled matTooltip="В разработке">Тариф</button>
  <button mat-menu-item  disabled matTooltip="В разработке">Редактировать профиль</button>
</mat-menu>
