<button mat-button [matMenuTriggerFor]="administration">
  Администрирование
</button>

<mat-menu #administration="matMenu">
  <button mat-menu-item>Сменить место</button>
  <button mat-menu-item>Сменить клинику</button>
  <button mat-menu-item>Сменить пользователя</button>
  <button mat-menu-item>Выйти</button>
  <button mat-menu-item>Настройка</button>
  <button mat-menu-item>О программе</button>
  <button mat-menu-item>Чат</button>
  <button mat-menu-item>Тариф</button>
  <button mat-menu-item>Редактировать профиль</button>
</mat-menu>
