<section class="client">
  <header class="client__header">
    <nav class="client__btn-group">
      <ul class="client__list">
        <li class="client__element">
          <button (click)="backForClients()" class="client__btn" color="primary" mat-icon-button>
            <mat-icon>undo</mat-icon>
          </button>
        </li>
        <li class="client__element">
          <button class="client__btn" color="primary" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
        </li>
        <li class="client__element">
          <button (click)="sendMail()" *ngIf="this.client?.email" class="client__btn" color="primary" mat-icon-button>
            <mat-icon>mail</mat-icon>
          </button>
        </li>
        <li class="client__element">
          <button class="client__btn" color="primary" mat-icon-button>
            <mat-icon>event_note</mat-icon>
          </button>
        </li>
      </ul>
    </nav>
  </header>
  <app-client-card [blackList]="this.clientInBlackList" [client]="this.client"></app-client-card>
<!--  <article class="client__description">-->
<!--    <mat-form-field appearance="fill" class="client__textarea">-->
<!--      <mat-label>Дополнительная информация:</mat-label>-->
<!--      <textarea #description matInput placeholder="Дополнительная информация">{{this.client?.clientDescription}}</textarea>-->
<!--    </mat-form-field>-->
<!--  </article>-->
</section>
<section class="pets">
  <app-client-pets></app-client-pets>
</section>
