<section class="client">
  <nav class="client__btn-group">
    <ul class="client__list">
      <li class="client__element">
        <button mat-icon-button class="client__btn" (click)="backForClients()"><mat-icon>undo</mat-icon></button>
      </li>
      <li class="client__element">
        <button mat-icon-button class="client__btn"><mat-icon>edit</mat-icon></button>
      </li>
      <li class="client__element">
        <button mat-icon-button class="client__btn"><mat-icon>mail</mat-icon></button>
      </li>
      <li class="client__element">
        <button mat-icon-button class="client__btn"><mat-icon>event_note</mat-icon></button>
      </li>
    </ul>
  </nav>
</section>
